main {
  height: 500px;
  border: 2px solid green;
}

.flex-container {
  display: flex;
  width: 500px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  border: 2px dashed purple;
}

.flex-container div {
  padding: 30px;
  margin: 20px;
  color: blue;
  text-align: center;
  font-size: 30px;
  background-color: pink;
  border: 1px solid red;
}
